@model IEnumerable<SistemaPacifico.Models.ComisionModel>

@{
    ViewBag.Title = "Listar";
}

@using (Html.BeginForm("Index", "Comision", FormMethod.Post))
{
    <div class="container">
        <div class="page-header">
        </div>
        <table style="width: 85%" class="fondo" align="center">
            <tr>
                <td>Comisión: </td>
                <td><input id="txtNombreComision" type="text" class="form-control" name="nombreComision" /></td>
                <td></td>
                <td>Canal Venta: </td>
                <td><input id="txtCanalVenta" type="text" class="form-control" name="canalVenta"/></td>
            </tr>
            <tr>
                <td>Campaña: </td>
                <td><input id="txtCampania" type="text" class="form-control" name="campania"/></td>
                <td colspan="2"></td>
                <td align="right"><button type="submit" class="btn btn-primary">Buscar</button></td>
            </tr>
            <tr>
                <td>  </td>
            </tr>
        </table>
        <table class="table table-striped">
            <tr>
                <th>Código Comisión</th>
                <th>Nombre Comisión</th>
                <th>Fecha Registro</th>
                <th>Campaña</th>
                <th>Canal Venta</th>
                <th>Cargo Comisionista</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            @if (Model.Any())
            {
                foreach (var item in Model)
                 {
                     <tr>
                         <td>
                             @Html.DisplayFor(modelItem => item.CodigoComision)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.NombreComision)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.FechaRegistro)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.CampaniaNombre)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.CanalVentaNombre)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.CargoNombre)
                         </td>
                         <td>
                             @Html.ActionLink("Ver", "VerComision", new {id = item.CodigoComision})
                         </td>
                         <td>
                             @Html.ActionLink("Editar", "EditarComision", new {id = item.CodigoComision})
                         </td>
                     </tr>
                 }
            }
            else
            {
                <tr>
                    <td colspan="8">
                        <div id="labelError" class="alert alert-danger">
                            No se encontraron registros en la base de datos
                        </div>
                    </td>
                </tr>
            }
        </table>
        <table style="width: 100%">
            <tr>
                <td>
                    @*@using (Html.BeginForm("CrearComision", "Comision", FormMethod.Post, new {@class = "form-search"}))
                    {
                        <button type="submit" class="btn btn-large">Nuevo</button>
                    }*@
                    <p>
                        @Html.ActionLink("Nuevo", "CrearComision")
                    </p>
                </td>
            </tr>
        </table>
    </div>
}

