@model SistemaPacifico.Models.ComisionModel

@{
    ViewBag.Title = "Ver";
}

<div class="container">
    <hr />
    @Html.AntiForgeryToken()
    <table style="width: 85%" class="fondo" align="center">
        <tr>
            <td>
                <label class="control-label col-md-4" for="NombreComision">Nombre Comisión:</label>
                @Html.TextBoxFor(model => model.NombreComision, new { @class = "form-control", @readonly="readonly"})
            </td>
            <td>
                <label class="control-label col-md-4" for="CanalVentaNombre">Canal Venta:</label>
                @Html.TextBoxFor(model => model.CanalVentaNombre, new { @readonly="readonly", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label col-md-4" for="CampaniaNombre">Campaña:</label>
                @Html.TextBoxFor(model => model.CampaniaNombre, new { @readonly = "readonly", @class = "form-control" })
            </td>
            <td>
                <label class="control-label col-md-4" for="CargoNombre">Cargo Comisionista:</label>
                @Html.TextBoxFor(model => model.CargoNombre, new { @readonly = "readonly", @class = "form-control" })
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <label class="control-label col-md-4" for="ddlRequisito">Requisitos:</label>
                @Html.ListBox("ddlRequisito", new SelectList(Model.RequisitoList, "Valor", "Nombre"), new { @readonly = "readonly", @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br />
                <table id="tblRangos" class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Rangos de Comisión
                            </th>
                        </tr>
                        <tr class="btn-primary">
                            <th>Monto Mínimo</th>
                            <th>Monto Máximo</th>
                            <th>Porcentaje Comisión</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rango in Model.RangoList)
                        {
                            <tr>
                                <td>
                                    <div class="input-group-sm">
                                        <input type="number" class="form-control" readonly="readonly" value="@rango.Minimo" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group-sm">
                                        <input type="number" class="form-control" readonly="readonly" value="@rango.Maximo" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group-sm">
                                        <input type="number" class="form-control" readonly="readonly" value="@rango.Cantidad" />
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button type="reset" class="btn btn-primary btn-sm" onclick=" javascript:window.history.back(); ">Atrás</button>
            </td>
        </tr>
    </table>
</div>
